<h3>Contact Form</h3>
<div class="home">
  <form ng-submit="vm.addContact(contact)">
    <input ng-model="contact.name" placeholder="Jane Doe" required>
    <small>{{ namMsg }}</small>
    <input ng-model="contact.gender" placeholder="Male/Female" required>
    <small>{{ namMsg }}</small>
    <input ng-model="contact.email" type="email" placeholder="jdoe@gmail.com" required>
    <small>{{ emailMsg }}</small>
    <input ng-model="contact.website" placeholder="http://ssmento.com" required>
    <small>{{ newMsg }}</small>
    <textarea rows ="5" cols="50" ng-model="contact.message" placeholder="Friendly Message" required></textarea>
    <small>{{ pssMsg }}</small>
    <button>Submit</button>
  </form>
</div>